@import "tailwindcss";

#root {
  font-family: "Instrument Sans", sans-serif;
}

.instrument {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.blue {
  background-image: url(/bg-blue.png);
  background-position: center center;
  background-size: cover;
}
